venv/
eigen/
Pangolin/
opencv/
opencv_contrib/
python_onvif_zeep/
ORB_SLAM2/
cppzmq/
libzmq/
osmap/
protobuf/
orb_module/build/
orb_module/map/*
classes/*.pyc
log/*
build/
scripts/__pycache__
classes/__pycache__
wsdl/*
detection_models/
